.row.header {
  height: 54px;
  background: #fff;
  margin-bottom: 5px;
}

table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

.note-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }

    .note-desktop {
        display: block;
    }
    .note-mobile {
        display: none;
    }
}

.list-btn {
  margin-right: 5px;
}

.list-margin-btn {
  margin-left: 5px;
  margin-right: -15px;
  margin-top:-2px;
  margin-bottom: 10px;
}

.detail-btn {
  margin-left: 5px;
  margin-top: -2px;
  margin-bottom: -27px;
}

.detail-margin-btn {
  margin-left: 5px;
  margin-right: -15px;
  margin-top:-2px;
  margin-bottom: -27px;
}

.inline-btn {
  margin-top: 28px;
}

.grid {
  height: 360px;
}

.grid-500 {
  height: 500px;
}
.grid-align-right {
  text-align: right;
}

.ui-grid-row .ui-grid-cell { cursor:pointer; }

.auth-forms {
  max-width:600px;
  margin:auto;
  margin-top: 80px;
  background: #fff;
  padding:1px 25px 25px 25px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}
