.row.header {
  height: 54px;
  background: #fff;
  margin-bottom: 5px;
}

table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

.note-desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }

    .note-desktop {
        display: block;
    }
    .note-mobile {
        display: none;
    }
}

.top-space-15 {
  margin-top: 15px;
}

.list-btn {
  margin-right: 5px;
}

.list-margin-btn {
  margin-left: 5px;
  margin-right: -15px;
  margin-top:-2px;
  margin-bottom: 10px;
}

.detail-btn {
  margin-left: 5px;
}

.inline-btn {
  margin-top: 28px;
}

.grid {
  height: 360px;
}

.grid-500 {
  height: 500px;
}
.grid-align-right {
  text-align: right;
}

.ui-grid-row .ui-grid-cell { cursor:pointer; }

.auth-forms {
  max-width:600px;
  margin:auto;
  margin-top: 80px;
  background: #fff;
  padding:1px 25px 25px 25px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.menu-logo {
  float: left;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}

.modal.fade .modal-dialog {
   transform: translate(0px, -25%);
   transition: transform 0.3s ease-out 0s;
}
.modal.fade.in .modal-dialog {
   transform: translate(0px, 0px);
}
.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 30%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
.flyover.in {
   left: 70%;
}
.flyover-top {
   top: 60px;
}

.messages {
  font-size: smaller;
  color: red;
}

.nav-pic {
  margin: -2px 5px 0 0;
  max-height: 30px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

legend {
	font-size: 18px;
	padding: 7px 0px
}

.col-centered{
    float: none;
    margin: 0 auto;
}
