<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <a type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Return" href="#/orders" ui-sref="admin.sales.orders">
            <i class="fa fa-reply"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="menu-icon fa fa-shopping-cart"></span> Order Detail</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <div class="pull-left">
            <label>Order ID: </label>
            <p>{{orderCtrl.order.order_id}}</p>
            <label>Customer:</label><br>
            <p>{{orderCtrl.customer.customer_first_name}} {{orderCtrl.customer.customer_last_name}}<br>
            {{orderCtrl.customer.customer_email}}<br>
            {{orderCtrl.customer.customer_address1}}<br>
            {{orderCtrl.customer.customer_city}}, {{orderCtrl.customer.customer_province}}<br>
            {{orderCtrl.customer.customer_country}} {{orderCtrl.customer.customer_postal}}</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="pull-right">
            <label class="align-right">Date Added: {{orderCtrl.order.create_date | date}}</label><br>
          </div>
        </div>
      </div><br><br><br>
      <div class="row">
        <div class="col-sm-12">
          <div ui-grid="orderCtrl.gridLines" class="ui-grid-row" ui-grid-edit ui-grid-cellNav></div>
        </div>
      </div><br><br><br>
      <div class="row">
        <div class="col-sm-9">
          <div class="pull-left">
            <div ng-if="orderCtrl.order.coupon_id !== undefined">
                <p>Coupon Entered: {{orderCtrl.order.coupon_id}}</p>
            </div>
            <div ng-if="orderCtrl.order.giftcard_id !== undefined">
                <p>Gift Card Entered: {{orderCtrl.order.giftcard_id}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <table class="table">
            <tr>
              <td class="text-right"><strong>Sub Total</strong></td>
              <td class="text-left">{{orderCtrl.order.sub_total | currency}}</td>
            </tr>
            <tr ng-repeat="t in orderCtrl.taxes">
              <td class="text-right"><strong>{{t.tax_name}}</strong></td>
              <td class="text-left">{{t.tax_total | currency}}</td>
            </tr>
            <tr ng-if="orderCtrl.order.coupon_discount !== 0">
              <td class="text-right"><strong>Coupon Discount</strong></td>
              <td class="text-left">{{orderCtrl.order.coupon_discount | currency}}</td>
            </tr>
            <tr ng-if="orderCtrl.order.giftcard_discount !== 0">
              <td class="text-right"><strong>Gift Card Discount</strong></td>
              <td class="text-left">{{orderCtrl.order.giftcard_discount | currency}}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Total</strong></td>
              <td class="text-left">{{orderCtrl.order.total | currency}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="orderCtrl.order.return_status === true">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-shopping-cart"></span> Return Detail</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <label>Return ID: </label>
              <p>{{orderCtrl.return.return_id}}</p>
              <label>Customer:</label><br>
              <p>{{orderCtrl.customer.customer_first_name}} {{orderCtrl.customer.customer_last_name}}<br>
              {{orderCtrl.customer.customer_email}}<br>
              {{orderCtrl.customer.customer_address1}}<br>
              {{orderCtrl.customer.customer_city}}, {{orderCtrl.customer.customer_province}}<br>
              {{orderCtrl.customer.customer_country}} {{orderCtrl.customer.customer_postal}}</p>
            </div>
          </div>
        </div><br><br><br>
        <div class="row">
          <div class="col-sm-12">
            <div ui-grid="orderCtrl.gridReturnLines" class="ui-grid-row" ui-grid-edit ui-grid-cellNav></div>
          </div>
        </div><br><br><br>
        <div class="row">
          <div class="col-sm-3 pull-right">
            <table class="table">
              <tr>
                <td class="text-right"><strong>Sub Total</strong></td>
                <td class="text-left">{{orderCtrl.return.sub_total | currency}}</td>
              </tr>
              <tr ng-repeat="t in orderCtrl.return.taxes">
                <td class="text-right"><strong>{{t.tax_name}}</strong></td>
                <td class="text-left">{{t.tax_total | currency}}</td>
              </tr>
              <tr ng-if="orderCtrl.order.coupon_discount !== 0">
                <td class="text-right"><strong>Coupon Discount</strong></td>
                <td class="text-left">{{orderCtrl.return.coupon_discount | currency}}</td>
              </tr>
              <tr ng-if="orderCtrl.order.giftcard_discount !== 0">
                <td class="text-right"><strong>Gift Card Discount</strong></td>
                <td class="text-left">{{orderCtrl.return.giftcard_discount | currency}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Return Total</strong></td>
                <td class="text-left">{{orderCtrl.return.total | currency}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="orderCtrl.return_status !== false">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-shopping-cart"></span> Return Detail</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-left">
              <label>Order ID: </label>
              <p>{{orderCtrl.order.order_id}}</p>
              <label>Customer:</label><br>
              <p>{{orderCtrl.customer.customer_first_name}} {{orderCtrl.customer.customer_last_name}}<br>
              {{orderCtrl.customer.customer_email}}<br>
              {{orderCtrl.customer.customer_address1}}<br>
              {{orderCtrl.customer.customer_city}}, {{orderCtrl.customer.customer_province}}<br>
              {{orderCtrl.customer.customer_country}} {{orderCtrl.customer.customer_postal}}</p>
            </div>
          </div>
        </div><br><br><br>
        <div class="row">
          <form>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <td class="text-left">Product</td>
                    <td class="text-right">Quantity</td>
                    <td class="text-right">Unit Price</td>
                    <td class="text-right">Total</td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="r in orderCtrl.returnLines">
                    <td class="text-left">
                      {{r.product_name}}
                    </td>
                    <td width="150px">
                      <div class="input-group">
                        <input type="text" ng-model="r.line_quantity" ng-change="orderCtrl.updateLine(r.$id, r.line_quantity, r.product_id)"
                          class="form-control" style="text-align: right;">
                        <span class="input-group-btn">
                          <button class="btn btn-danger" ng-click="orderCtrl.removeLine(r.$id, r.product_tax_group_id)" type="button"><span class="menu-icon fa fa-times"></span></button>
                        </span>
                      </div>
                    </td>
                    <td ng-if="r.special_price" class="text-right">
                      {{r.special_price | currency}}
                    </td>
                    <td ng-if="r.special_price == null" class="text-right">
                      {{r.regular_price | currency}}
                    </td>
                    <td class="text-right">{{r.line_total | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div><br><br><br>
        <div class="row">
          <div class="col-sm-3 pull-right">
            <table class="table">
              <tr>
                <td class="text-right"><strong>Sub Total</strong></td>
                <td class="text-left">{{orderCtrl.order.sub_total | currency}}</td>
              </tr>
              <tr ng-repeat="t in orderCtrl.taxes">
                <td class="text-right"><strong>{{t.tax_name}}</strong></td>
                <td class="text-left">{{t.tax_total | currency}}</td>
              </tr>
              <tr ng-if="orderCtrl.order.coupon_discount !== 0">
                <td class="text-right"><strong>Coupon Discount</strong></td>
                <td class="text-left">{{orderCtrl.order.coupon_discount | currency}}</td>
              </tr>
              <tr ng-if="orderCtrl.order.giftcard_discount !== 0">
                <td class="text-right"><strong>Gift Card Discount</strong></td>
                <td class="text-left">{{orderCtrl.order.giftcard_discount | currency}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Total</strong></td>
                <td class="text-left">{{orderCtrl.order.total | currency}}</td>
              </tr>
            </table>
          </div>
        </div><br><br><br>
        <div class="row text-center">
          <button class="btn btn-danger" ng-click="orderCtrl.addReturn()" type="button">
            Submit Return
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
