<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <a type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Return" href="#/orders" ui-sref="admin.sales.orders">
            <i class="fa fa-reply"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="menu-icon fa fa-shopping-cart"></span> Order Detail</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <div class="pull-left">
            <label>Order ID: </label>
            <p>{{orderCtrl.order.$id}}</p>
            <label>Customer:</label><br>
            <p>{{orderCtrl.customer.customer_first_name}} {{orderCtrl.customer.customer_last_name}}<br>
            {{orderCtrl.customer.customer_email}<br>
            {{orderCtrl.customer.customer_address1}}<br>
            {{orderCtrl.customer.customer_city}}, {{orderCtrl.customer.customer_province}}<br>
            {{orderCtrl.customer.customer_country}} {{orderCtrl.customer.customer_postal}}</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="pull-right">
            <label class="align-right">Date Added: {{orderCtrl.order.create_date | date}}</label><br>
          </div>
        </div>
      </div><br><br><br>
      <div class="row">
        <div ui-grid="orderCtrl.gridLines" class="ui-grid-row" ui-grid-edit ui-grid-cellNav></div>
      </div><br><br><br>
      <div class="row">
        <div class="col-sm-9">
          <div class="pull-left">
            <div ng-if="orderCtrl.order.coupon_id !== undefined">
                <p>Coupon Entered: {{orderCtrl.order.coupon_id}}</p>
            </div>
            <div ng-if="orderCtrl.order.giftcard_id !== undefined">
                <p>Gift Card Entered: {{orderCtrl.order.giftcard_id}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 pull-right">
          <table class="table">
            <tr>
              <td class="text-right"><strong>Sub Total</strong></td>
              <td class="text-left">{{orderCtrl.order.sub_total | currency}}</td>
            </tr>
            <tr ng-repeat="t in orderCtrl.taxes">
              <td class="text-right"><strong>{{t.tax_name}}</strong></td>
              <td class="text-left">{{t.tax_total | currency}}</td>
            </tr>
            <tr ng-if="orderCtrl.order.coupon_discount !== undefined">
              <td class="text-right"><strong>Coupon Discount</strong></td>
              <td class="text-left">{{orderCtrl.order.coupon_discount | currency}}</td>
            </tr>
            <tr ng-if="orderCtrl.order.giftcard_discount !== undefined">
              <td class="text-right"><strong>Gift Card Discount</strong></td>
              <td class="text-left">{{orderCtrl.order.giftcard_discount | currency}}</td>
            </tr>
            <tr>
              <td class="text-right"><strong>Total</strong></td>
              <td class="text-left">{{orderCtrl.order.total | currency}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
