<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-list-ul"></span> Return List</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
						<a ng-if="salesCtrl.currentState === 'admin.sales' || salesCtrl.currentState === 'admin.sales.returns'"
							href="#/return" ui-sref="admin.returns.return" class="btn btn-primary btn-sm pull-right">
							<span class="menu-icon fa fa-mail-reply-all"></span> New Return</a>
						<a ng-if="salesCtrl.currentState === 'admin.returns'" href="#/return" ui-sref=".return" class="btn btn-primary btn-sm pull-right">
							<span class="menu-icon fa fa-mail-reply-all"></span> New Return</a>
          </div>
        </div><br>
        <div>
          <div ui-grid=returnsCtrl.gridReturns class="grid-500"></div>
        </div>
      </div>
    </div>
  </div>
</div>
