<div id="content-wrapper">
	<div class="page-content">
		<div class="row header">
			<div class="col-xs-12">
				<span ng-include="'admin/views/common/topbar.html'"></span>
				<div class="meta">
				  <div class="page">Dashboard</div>
				  <div class="breadcrumb-links">Home / Dashboard</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<div class="pull-left">
							<span class="fa-stack fa-3x">
  							<i class="fa fa-circle fa-stack-2x icon-background-g"></i>
								<i class="fa fa-shopping-cart fa-stack-1x"></i>
							</span>
						</div>
					</div>
					<div class="col-xs-9 text-right">
						<h3>{{dashboardCtrl.theOrders.count}}</h3>
						<h5>Total Orders</h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<a href="#/admin/reports/salesorders" ui-sref="admin.reports.salesorders">
					<span class="pull-left">View Orders</span>
					<span class="pull-right">
						<i class="fa fa-chevron-circle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<div class="pull-left">
							<span class="fa-stack fa-3x">
  							<i class="fa fa-circle fa-stack-2x icon-background-r"></i>
								<i class="fa fa-cube fa-stack-1x"></i>
							</span>
						</div>
					</div>
					<div class="col-xs-9 text-right">
						<h3>{{dashboardCtrl.theProducts.count}}</h3>
						<h5>Products</h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<a href="#/admin/reports/salesorders" ui-sref="admin.reports.salesorders">
					<span class="pull-left">View Customers</span>
					<span class="pull-right">
						<i class="fa fa-chevron-circle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<div class="pull-left">
							<span class="fa-stack fa-3x">
  							<i class="fa fa-circle fa-stack-2x icon-background-y"></i>
								<i class="fa fa-users fa-stack-1x"></i>
							</span>
						</div>
					</div>
					<div class="col-xs-9 text-right">
						<h3>{{dashboardCtrl.theCustomers.count}}</h3>
						<h5>Customers</h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<a href="#/admin/reports/salesorders" ui-sref="admin.reports.salesorders">
					<span class="pull-left">View Customers</span>
					<span class="pull-right">
						<i class="fa fa-chevron-circle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<div class="pull-left">
							<span class="fa-stack fa-3x">
  							<i class="fa fa-circle fa-stack-2x icon-background-b"></i>
								<i class="fa fa-wifi fa-stack-1x"></i>
							</span>
						</div>
					</div>
					<div class="col-xs-9 text-right">
						<h3>10</h3>
						<h5>People Online</h5>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<a href="#/admin/reports/salesorders" ui-sref="admin.reports.salesorders">
					<span class="pull-left">View Activity</span>
					<span class="pull-right">
						<i class="fa fa-chevron-circle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Recent Orders">
				<a href="#">Manage</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>RDVMPC001</td><td>238.103.133.37</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC002</td><td>68.66.63.170</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC003</td><td>76.117.212.33</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDPHPC001</td><td>91.88.224.5</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX001</td><td>197.188.15.93</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX002</td><td>168.85.154.251</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX003</td><td>209.25.191.61</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDESX004</td><td>252.37.192.235</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal01</td><td>139.71.18.207</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal02</td><td>136.80.122.212</td><td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
							<tr><td>RDDomainCont01</td><td>196.80.245.33</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Recent Activity">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
							<tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
							<tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>
