<div id="content-wrapper">
	<div class="page-content">
		<div class="row header">
			<div class="col-xs-12">
				<span ng-include="'admin/views/common/topbar.html'"></span>
        <div class="meta">
          <div class="page"><span class="menu-icon fa fa-share-alt"></span> Marketing</div>
          <div class="breadcrumb-links">
						<a href="" ui-sref="admin.dashboard">Dashboard</a> / 
						<a href="#/marketing" ui-sref="admin.marketing">Marketing</a> / Affiliates</div>
        </div>
			</div>
		</div>
	</div>
</div>
