<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="menu-icon fa fa-star"></span> Reward Points</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <fieldset>
          <legend>Reward Point Settings</legend>
          <div class="form-group required">
            <label class="col-sm-4 control-label" align="right">Reward Points Awarded Per Dollar Spent</label>
            <div class="col-sm-4">
              <input type="text" ng-model="rewardPointsCtrl.reward_points.points_per_dollar" ng-change="rewardPointsCtrl.updateRewardPoints()"
                placeholder="Points Per Dollar Spent" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-4 control-label" align="right">Minimum Redeemable Value</label>
            <div class="col-sm-4">
              <input type="text" ng-model="rewardPointsCtrl.reward_points.points_minimum_value" ng-change="rewardPointsCtrl.updateRewardPoints()"
                placeholder="Minimum Value" class="form-control">
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-4 control-label" align="right">Minimum Value Redeemable in Dollars</label>
            <div class="col-sm-4">
              <input type="text" ng-model="rewardPointsCtrl.reward_points.points_minimum_dollar_value" ng-change="rewardPointsCtrl.updateRewardPoints()"
                placeholder="Redeemable Points Value in Dollars" class="form-control">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
