<div class="container-fluid" ng-controller="LibraryCtrl">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><span class="menu-icon fa fa-picture-o"></span> Media Library</h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-2">
          <div class="row">
            <h4>Upload on file select</h4>
            <button ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-size="10MB">
              Select Files</button>
              <br><br>
            files:
            <ul>
              <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
                <span class="progress" ng-show="f.progress >= 0">
                  <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                </span>
              </li>
              <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
              </li>
            </ul>
            {{errorMsg}}
          </div>
        </div>
        <div class="row">
          images go here
        </div>
      </div>
    </div>
  </div>
</div>
