<div class="container-fluid">
  <div class="col-xs-12">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-usd"></i> Tax Setup
        </uib-tab-heading><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><span class="menu-icon fa fa-usd"></span> Tax Setup</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              taxes
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-reply-all"></i> Return Setup
        </uib-tab-heading><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><span class="menu-icon fa fa-reply-all"></span> Return Setup</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              returns
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-file-text"></i> Order Setup
        </uib-tab-heading><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><span class="menu-icon fa fa-file-text"></span> Order Setup</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              Orders
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-arrows"></i> Length Units
        </uib-tab-heading><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><span class="menu-icon fa fa-arrows"></span> Length Units</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              Length
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-balance-scale"></i> Weight Units
        </uib-tab-heading><br>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><span class="menu-icon fa fa-balance-scale"></span> Weight Units</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              Weight
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
