<div class="container-fluid">
  <div class="col-sm-12">
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <a type="button" class="btn btn-sm btn-primary pull-right" tooltip-placement="top" uib-tooltip="New"
          href="#/user" ui-sref="admin.system.user"><i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </form>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="menu-icon fa fa-users"></span> Users</h3>
    </div>
    <div class="panel-body">
      <div ui-grid="usersCtrl.gridUsers"></div>
    </div>
  </div>
</div>
</div>
