<div class="container">
  <div class="col-sm-12">
    <ul class="breadcrumb">
      <li><a href="#" ui-sref="catalog.home"><i class="menu-icon fa fa-home"></i></a></li>
      <li><a href="#/cart" ui-sref="catalog.cart">Shopping Cart</a></li>
      <li><a href="#/checkout" ui-sref="catalog.checkout">Checkout</a></li>
      <li>Review Order</li>
    </ul>
    <h2>Review Order</h2>
  </div>
</div><br>
<div class="container">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Personal Details</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <div>
            <label class="col-sm-3 col-sm-offset-1 control-label">Name:</label>
            <div class="col-sm-7">
              <p>{{cartCtrl.customer.customer_first_name}} {{cartCtrl.customer.customer_last_name}}</p>
            </div>
          </div>
          <div>
            <label class="col-sm-3 col-sm-offset-1 control-label">E-Mail:</label>
            <div class="col-sm-7">
              <p>{{cartCtrl.customer.customer_email}}</p>
            </div>
          </div>
          <div>
            <label class="col-sm-3 col-sm-offset-1 control-label">Phone:</label>
            <div class="col-sm-7">
              <p>{{cartCtrl.customer.customer_phone}}</p>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Address</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <div class="col-sm-12 col-sm-offset-4">
            <p>{{cartCtrl.customer.customer_address1}}</p>
            <p>{{cartCtrl.customer.customer_city}}, {{cartCtrl.customer.customer_province}}</p>
            <p>{{cartCtrl.customer.customer_postal}} {{cartCtrl.customer.customer_country}}</p>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shipping Method</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          Please select the preferred shipping method.
        </div><br>
        <div class="row">
          <div class="col-sm-8">
            <label><input type="radio" ng-model="cartCtrl.order.shipping_type" name="shipping_type"> &nbsp&nbsp Flat Rate</label>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">$10.00</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label><input type="radio" ng-model="cartCtrl.order.shipping_type" name="shipping_type"> &nbsp&nbsp Cash on Delivery</label>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">TBD</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Method</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          Please select the preferred payment method.
        </div><br>
        <div class="row">
          <div class="col-sm-8">
            <label><input type="radio" ng-model="cartCtrl.order.shipping_type" name="payment_type"> &nbsp&nbsp PayPal</label>
          </div>
          <div class="col-sm-4">
            <div class="pull-right">paypal logo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Shopping Cart</h3>
      </div>
      <div class="panel-body">
        <div ng-if="cartCtrl.order.items > 0">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">Image</td>
                  <td class="text-left">Product</td>
                  <td class="text-right">Quantity</td>
                  <td class="text-right">Unit Price</td>
                  <td class="text-right">Total</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="o in cartCtrl.lines">
                  <td class="text-center">
                    <a href="" ng-click="cartCtrl.goProduct(o.product_id)"><img ng-src="{{o.product_image}}" width="35px" height="35px"></a>
                  </td>
                  <td class="text-left">
                    <a href="" ng-click="cartCtrl.goProduct(o.product_id)">{{o.product_name}}</a><br>
                    <small>Reward points: {{o.reward_points_total}}</small>
                  </td>
                  <td width="150px" class="text-right">
                    {{o.line_quantity}}
                  </td>
                  <td ng-if="o.special_price" class="text-right">
                    {{o.special_price | currency}}
                  </td>
                  <td ng-if="o.special_price == null" class="text-right">
                    {{o.regular_price | currency}}
                  </td>
                  <td class="text-right">{{o.line_total | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div ng-if="cartCtrl.order.reward_points_used !== undefined" class="col-sm-8 col-sm-offset-3">
                <h4>Reward Points Used: {{cartCtrl.order.reward_points_used}}</h4>
            </div>
          </div><br>
          <div class="row">
            <div ng-if="cartCtrl.order.coupon_id !== undefined" class="col-sm-8 col-sm-offset-3">
                <h4>Coupon Entered: {{cartCtrl.order.coupon_id}}</h4>
            </div>
          </div><br>
          <div class="row">
            <div ng-if="cartCtrl.order.giftcard_id !== undefined" class="col-sm-8 col-sm-offset-3">
                <h4>Gift Card Entered: {{cartCtrl.order.giftcard_id}}</h4>
            </div>
          </div><br>
          <div class="col-sm-4 col-sm-offset-4">
            <table class="table">
              <tr>
                <td class="text-right"><strong>Sub Total</strong></td>
                <td class="text-right">{{cartCtrl.order.sub_total | currency}}</td>
              </tr>
              <tr ng-repeat="t in cartCtrl.taxes">
                <td class="text-right"><strong>{{t.tax_name}}</strong></td>
                <td class="text-right">{{t.tax_total | currency}}</td>
              </tr>
              <tr ng-if="cartCtrl.order.coupon_discount !== 0">
                <td class="text-right"><strong>Coupon Discount</strong></td>
                <td class="text-right">{{cartCtrl.order.coupon_discount | currency}}</td>
              </tr>
              <tr ng-if="cartCtrl.order.giftcard_discount !== 0">
                <td class="text-right"><strong>Gift Card Discount</strong></td>
                <td class="text-right">{{cartCtrl.order.giftcard_discount | currency}}</td>
              </tr>
              <tr ng-if="cartCtrl.order.reward_points_discount !== 0">
                <td class="text-right"><strong>Reward Points Discount</strong></td>
                <td class="text-right">{{cartCtrl.order.reward_points_discount | currency}}</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Cash on Delivery</strong></td>
                <td class="text-right">TBD</td>
              </tr>
              <tr>
                <td class="text-right"><strong>Total</strong></td>
                <td class="text-right">{{cartCtrl.order.total | currency}}</td>
              </tr>
            </table>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</div>
