<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="{{categoriesCtrl.categoryTabActive}}">
        <a href="#categoryList" role="tab" data-toggle="tab"><i class="menu-icon fa fa-th"></i> Categories</a>
      </li>
      <li ng-click="categoriesCtrl.getFirstCategory()" role="presentation" class="{{categoriesCtrl.bannerTabActive}}">
        <a href="#categoryBanners" role="tab" data-toggle="tab"><i class="menu-icon fa fa-flag-checkered"></i> Category Banners</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane {{categoriesCtrl.categoryTabActive}}" id="categoryList">
        <div class="row">
          <div class="col-xs-12"><br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><span class="menu-icon fa fa-th"></span> Categories</h4>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-4 pull-left">
                    <div class="input-group input-group-sm list-search">
                      <input type="text" ng-model="categoriesCtrl.categoryName" class="form-control" placeholder="Enter New Category">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="categoriesCtrl.addCategory()" type="button"><span class="menu-icon fa fa-plus"></span></button>
                      </span>
                    </div>
                  </div>
                </div><br>
                <div class="row">
                  <div ui-grid="categoriesCtrl.categoriesGridOpts" class="grid" ui-grid-edit ui-grid-cellNav></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane {{categoriesCtrl.bannerTabActive}}" id="categoryBanners">
        <div class="row">
          <div class="col-xs-12"><br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><span class="menu-icon fa fa-flag-checkered"></span> Category Banners</h4>
              </div>
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-3">
                      <h5>{{categoriesCtrl.category.category_name}} Category</h5>
                      <div ui-grid="categoriesCtrl.catagoryListGridOpts" ui-grid-selection class="grid"></div>
                    </div>
                    <div class="col-xs-3">
                      <div>
                        <span class="file-input btn btn-primary btn-block btn-file">
                          <h5><i class="fa fa-floppy-o"></i> Click or Drag Image</h5>
                          <input type="file" ng-category-banner-select="categoriesCtrl.onFileSelect($files)">
                        </span>
                        <span ng-if="categoriesCtrl.category.category_banner_image != null"><br>
                          <div class="row" align="center">
                            <img class="img-thumbnail" ng-src="{{categoriesCtrl.category.category_banner_image}}">
                          </div><br>
                          <button type="button" class="btn btn-block btn-danger" ng-click="categoriesCtrl.removeCategoryImage(categoriesCtrl.category.$id)">
                            <h5><i class="fa fa-trash"></i> Delete Category Banner Image</h5>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">
                        <label class="control-label">Description</label><br>
                        <textarea class="tinyMCE" ui-tinymce="categoriesCtrl.tinymceOptions" ng-change="categoriesCtrl.category.$save()"
                          ng-model="categoriesCtrl.category.category_description"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
