<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-list-ul"></span> User List</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group input-group-sm list-search">
              <input type="text" ng-model="bannersCtrl.bannerName" class="form-control" placeholder="Enter New Banner">
              <span class="input-group-btn">
                <button class="btn btn-primary" ng-click="bannersCtrl.newBanner()" type="button"><span class="menu-icon fa fa-plus"></span></button>
              </span>
            </div>
          </div>
        </div><br>
          <div ui-grid="bannersCtrl.gridOpts" ui-grid-edit ui-grid-cellNav></div>
      </div>
    </div>
  </div>
</div>
