<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-12">
          <a type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Cancel" href="#/users" ui-sref="admin.system.users"><i class="fa fa-reply"></i></a>
          <button ng-if="userCtrl.user.uid !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Last" ng-click="userCtrl.last()">
            <i class="fa fa-fast-forward"></i>
          </button>
          <button ng-if="userCtrl.user.uid !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Next" ng-click="userCtrl.next()">
            <i class="fa fa-step-forward"></i>
          </button>
          <button ng-if="userCtrl.user.uid !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Back" ng-click="userCtrl.back()">
            <i class="fa fa-step-backward"></i>
          </button>
          <button ng-if="userCtrl.user.uid !== null" type="button" class="btn btn-sm btn-default detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="First" ng-click="userCtrl.first()">
            <i class="fa fa-fast-backward"></i>
          </button>
          <button ng-if="userCtrl.user.uid === null" type="button" class="btn btn-sm btn-primary detail-btn pull-right"
            tooltip-placement="top" uib-tooltip="Save" ng-click="userCtrl.createUser()">
            <i class="fa fa-floppy-o"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-pencil-square-o"></span> User Detail</h3>
      </div>
      <div ng-if="userCtrl.user.uid === null" class="panel-body">
        <form class="form-horizontal">
          <span class="col-sm-10 col-sm-offset-1">
            <legend>Security Information</legend>
          </span>
          <div class="form-group">
            <label class="control-label col-sm-3">First Name</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.first_name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Last Name</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.last_name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Type</label>
            <div class="col-sm-6">
              <select ng-model="userCtrl.user.type" class="form-control">
                <option value="Sales">Sales</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div class="col-sm-6">
              <select ng-model="userCtrl.user.status" class="form-control">
                <option value="Enabled">Enabled</option>
                <option value="Disabled">Disabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Login Email</label>
            <div class="col-sm-6">
              <input type="email" ng-model="userCtrl.user.email" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div ng-if="userCtrl.user.type === 'Sales' || userCtrl.user.type === 'Admin' && userCtrl.user.uid != null" class="panel-body">
        <form class="form-horizontal">
          <span class="col-sm-10 col-sm-offset-1">
            <legend>Security Information</legend>
          </span>
          <div class="form-group">
            <label class="control-label col-sm-3">First Name</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.first_name" class="form-control" ng-change="userCtrl.user.$save()">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Last Name</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.last_name" class="form-control" ng-change="userCtrl.user.$save()">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Type</label>
            <div class="col-sm-6">
              <select ng-model="userCtrl.user.type" class="form-control" ng-change="userCtrl.user.$save()">
                <option value="Sales">Sales</option>
                <option value="Admin">Admin</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div class="col-sm-6">
              <select ng-model="userCtrl.user.status" class="form-control" ng-change="userCtrl.user.$save()">
                <option value="Enabled">Enabled</option>
                <option value="Disabled">Disabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Login Email</label>
            <div class="col-sm-6">
              <input type="email" ng-model="userCtrl.user.email" class="form-control" readonly>
            </div>
          </div>
        </form>
      </div>
      <div ng-if="userCtrl.user.type === 'Tenant'" class="panel-body">
        <form class="form-horizontal">
          <span class="col-sm-10 col-sm-offset-1">
            <legend>Marketplace Tenant Information</legend>
          </span>
          <div class="form-group">
            <label class="control-label col-sm-3">Type</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option selected>Tenant</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option selected>Enabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Tenant ID</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.tid" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">E-Mail</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.email" class="form-control" readonly>
            </div>
          </div>
        </form>
      </div>
      <div ng-if="userCtrl.user.type === 'Customer'" class="panel-body">
        <form class="form-horizontal">
          <span class="col-sm-10 col-sm-offset-1">
            <legend>Security Information</legend>
          </span>
          <div class="form-group">
            <label class="control-label col-sm-3">Type</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option selected>Customer</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div class="col-sm-6">
              <select class="form-control">
                <option value="enabled" selected>Enabled</option>
                <option value="disabled">Disabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Login Email</label>
            <div class="col-sm-6">
              <input type="text" ng-model="userCtrl.user.email" class="form-control" readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <a href="" ng-click="userCtrl.sendPasswordEmail(userCtrl.user.email)">
                <i class="fa fa-envelope-o"></i> Send Reset Password Email</a>
            </div>
          </div>
          <span class="col-sm-10 col-sm-offset-1">
            <legend>Key Customer Information</legend>
          </span>
          <div class="form-group">
            <label class="control-label col-sm-3">First Name</label>
            <div ng-if="userCtrl.customer.$id === null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_first_name" placeholder="First Name" class="form-control">
            </div>
            <div ng-if="userCtrl.customer.$id !== null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_first_name" ng-change="userCtrl.customer.$save()"
                placeholder="First Name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Last Name</label>
            <div ng-if="userCtrl.customer.$id === null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_last_name" placeholder="Last Name" class="form-control">
            </div>
            <div ng-if="userCtrl.customer.$id !== null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_last_name"
                ng-change="userCtrl.customer.$save()" placeholder="Last Name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div ng-if="userCtrl.customer.$id === null" class="col-sm-6">
              <select ng-model="userCtrl.customer.customer_status" class="form-control">
                <option value="1">Enabled</option>
                <option value="2">Disabled</option>
              </select>
            </div>
            <div ng-if="userCtrl.customer.$id !== null" class="col-sm-6">
              <select class="form-control" ng-model="userCtrl.customer.customer_status"
                ng-change="userCtrl.savecustomerStatus()" class="form-control">
                <option value= "1">Enabled</option>
                <option value= "2">Disabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Customer Email</label>
            <div ng-if="userCtrl.customer.$id === null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_email" placeholder="Customer E-Mail" class="form-control">
            </div>
            <div ng-if="userCtrl.customer.$id !== null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_email" ng-change="userCtrl.customer.$save()"
                placeholder="Customer E-Mail" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Phone Number</label>
            <div ng-if="userCtrl.customer.$id === null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_phone" placeholder="Phone Number" class="form-control">
            </div>
            <div ng-if="userCtrl.customer.$id !== null" class="col-sm-6">
              <input type="text" ng-model="userCtrl.customer.customer_phone" ng-change="userCtrl.customer.$save()"
                placeholder="Phone Number" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <a href="" ng-click="userCtrl.goCustomer(userCtrl.user.cid)">
                <i class="fa fa-user"></i> Go to Customer</a>
            </div>
          </div>
        </form>
      </div>
      <div ng-if="userCtrl.user.type === 'Affiliate'" class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2">Type</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option selected>Affiliate</option>
              </select>
            </div>
            <label class="control-label col-sm-2">Status</label>
            <div class="col-sm-3">
              <select class="form-control">
                <option value="enabled" selected>Enabled</option>
                <option value="disabled">Disabled</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">E-Mail</label>
            <div class="col-sm-8">
              <input type="text" ng-model="userCtrl.user.email" class="form-control" readonly>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
