<div class="container-fluid">
  <div class="col-sm-12">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><span class="menu-icon fa fa-flag-checkered"></span> Category Banners</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3">
              <h5>{{categoriesCtrl.category.category_name}} Category</h5>
              <div ui-grid="categoriesCtrl.catagoryListGridOpts" ui-grid-selection class="grid"></div>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-xs btn-primary btn-block" data-toggle="modal" data-target="#catagoryImageModal">
                <h6><i class="fa fa-floppy-o"></i> Click to Add New Banner Image</h6>
              </button>
              <span ng-if="categoriesCtrl.category.category_banner_image != null"><br>
                <div class="row" align="center">
                  <img class="img-thumbnail" ng-src="{{categoriesCtrl.category.category_banner_image}}">
                </div><br>
                <button type="button" class="btn btn-block btn-danger" ng-click="categoriesCtrl.removeCategoryImage(categoriesCtrl.category.$id)">
                  <h5><i class="fa fa-trash"></i> Delete Category Banner Image</h5>
                </button>
              </span>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">Description</label><br>
                <textarea class="tinyMCE" ui-tinymce="categoriesCtrl.tinymceOptions" ng-change="categoriesCtrl.category.$save()"
                  ng-model="categoriesCtrl.category.category_description"></textarea>
              </div>
            </div>
          </div>
          <div class="modal fade" id="catagoryImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Media Library</h4>
                </div>
                <div class="modal-body">
                  <div ng-repeat="u in categoriesCtrl.urls" class="col-xs-2">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <button type="button" ng-click="categoriesCtrl.updateCategoryImage(u.url)" class="btn btn-xs btn-default no-border" data-dismiss="modal">
                          <img ng-src="{{u.url}}" class="img-responsive" alt="{{u.file_name}}">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
