<div class="container-fluid">
  <div class="col-sm-12">
    <div class="row">
      <form class="form-horizontal">
        <div class="input-group input-group-sm col-sm-4">
          <span class="input-group-addon">New Category</span>
          <input type="text" ng-model="categoriesCtrl.categoryName" class="form-control" placeholder="Enter New Category">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="categoriesCtrl.addCategory()" type="button"><span class="menu-icon fa fa-plus"></span></button>
          </span>
        </div>
      </form><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><span class="menu-icon fa fa-th"></span> Categories</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div ui-grid="categoriesCtrl.categoriesGridOpts" class="grid" ui-grid-edit ui-grid-cellNav></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
