<div id="content-wrapper">
	<div class="page-content">
		<div class="row header">
			<div class="col-xs-12">
				<span ng-include="'admin/views/common/topbar.html'"></span>
        <div class="meta">
          <div class="page"><span class="menu-icon fa fa-th"></span> Categories</div>
					<div class="breadcrumb-links">
						<a href="" ui-sref="admin.dashboard">Home</a> /
						<a href="#/catalogs" ui-sref="admin.catalogs">Catalogs</a> / Categories</div>
        </div>
			</div>
		</div>
	</div>
</div>
