<div class="container-fluid">
  <div class="col-xs-12">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">New Sub-Category</span>
            <input type="text" ng-model="subCategoriesCtrl.subCategoryName" class="form-control" placeholder="Enter New Sub-Category">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="subCategoriesCtrl.addSubCategory()" type="button"><span class="menu-icon fa fa-plus"></span></button>
            </span>
          </div>
        </div>
        <div class="col-xs-8">
          <a type="button" class="btn btn-sm btn-default detail-btn pull-right" tooltip-placement="top" uib-tooltip="Cancel"
            href="#/categories" ui-sref="admin.catalogs.categories"><i class="fa fa-reply"></i>
          </a>
          <button type="button" class="btn btn-sm btn-default detail-btn pull-right" tooltip-placement="top" uib-tooltip="Last" ng-click="subCategoriesCtrl.last()">
            <i class="fa fa-fast-forward"></i>
          </button>
          <button type="button" class="btn btn-sm btn-default detail-btn pull-right" tooltip-placement="top" uib-tooltip="Next" ng-click="subCategoriesCtrl.next()">
            <i class="fa fa-step-forward"></i>
          </button>
          <button type="button" class="btn btn-sm btn-default detail-btn pull-right" tooltip-placement="top" uib-tooltip="Back" ng-click="subCategoriesCtrl.back()">
            <i class="fa fa-step-backward"></i>
          </button>
          <button type="button" class="btn btn-sm btn-default detail-btn pull-right" tooltip-placement="top" uib-tooltip="First" ng-click="subCategoriesCtrl.first()">
            <i class="fa fa-fast-backward"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="menu-icon fa fa-sitemap"></i> Sub-Categories for {{subCategoriesCtrl.categoryName}} Category</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div ui-grid="subCategoriesCtrl.subCategoriesGrid" ui-grid-edit ui-grid-cellNav></div>
        </div>
      </div>
    </div>
  </div>
</div>
