<div class="container">
  <div class="row">
    <form name="accountInfoForm" class="form-horizontal">
      <fieldset>
        <legend>Account Information</legend>
        <div class="form-group required">
          <label class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-8">
            <input type="text" name="firstName" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_first_name" placeholder="First Name" class="form-control" required>
            <div ng-messages="accountInfoForm.firstName.$error" ng-if="accountInfoForm.firstName.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-8">
            <input type="text" name="lastName" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_last_name" placeholder="Last Name" class="form-control" required>
            <div ng-messages="accountInfoForm.lastName.$error" ng-if="accountInfoForm.lastName.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Phone Number</label>
          <div class="col-sm-8">
            <input type="text" name="phone" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_phone" placeholder="Phone Number" class="form-control" required>
            <div ng-messages="accountInfoForm.phone.$error" ng-if="accountInfoForm.phone.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">E-Mail</label>
          <div class="col-sm-8">
            <input type="text" name="email" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_email" placeholder="E-Mail" class="form-control" required>
            <div ng-messages="accountInfoForm.email.$error" ng-if="accountInfoForm.email.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Address</label>
          <div class="col-sm-8">
            <input type="text" name="address" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_address1" placeholder="Street Address" class="form-control" required>
            <div ng-messages="accountInfoForm.address.$error" ng-if="accountInfoForm.address.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">City</label>
          <div class="col-sm-8">
            <input type="text" name="city" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_city" placeholder="City" class="form-control" required>
            <div ng-messages="accountInfoForm.city.$error" ng-if="accountInfoForm.city.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Postal / ZIP Code</label>
          <div class="col-sm-8">
            <input type="text" name="postal" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_postal" placeholder="Postal / ZIP Code" class="form-control" required>
            <div ng-messages="accountInfoForm.postal.$error" ng-if="accountInfoForm.postal.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-8">
            <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled">
              <ui-select-match placeholder="Search countries">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country in countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <small ng-bind-html="country.code | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
            <div ng-messages="accountInfoForm.country.$error" ng-if="accountInfoForm.country.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
        <div class="form-group required">
          <label class="col-sm-2 control-label">Province / State</label>
          <div class="col-sm-8">
            <input type="text" name="province" ng-change="accountCtrl.customer.$save()" ng-model="accountCtrl.customer.customer_province" placeholder="Province / State" class="form-control" required>
            <div ng-messages="accountInfoForm.province.$error" ng-if="accountInfoForm.province.$touched">
              <div ng-messages-include="catalog/common/messages.html"></div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
