<div class="auth-forms">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="text-primary">Get Started Now!</h2>
      <form ng-submit="register()">
        <p ng-show="error" class="text-danger">{{ error }}</p>
        <input type="text" ng-model="user.appname" placeholder="App Name" class="form-control"><br>
        <input type="text" ng-model="user.username" placeholder="Username" class="form-control"><br>
        <input type="email" ng-model="user.email" placeholder="Email" class="form-control"><br>
        <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
        <input class="btn btn-primary" type="submit" value="Get Started Now!">
      </form>
    </div>
  </div>
</div>
