<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal">
        <fieldset>
          <legend>Reward Points</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label">Reward Points Available</label>
            <div class="col-sm-8">
              <input type="text" ng-model="accountRewardPointsCtrl.customer.reward_points" class="form-control" readonly>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
