<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="menu-icon fa fa-pencil-square-o"></span> Affiliate Detail - {{affiliateCtrl.affiliate.affiliate_full_name}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
<!-- Cancel Button -->
            <a type="button" class="btn btn-sm btn-default detail-btn pull-right"
              tooltip-placement="top" uib-tooltip="Cancel" href="#/affiliates" ui-sref="admin.marketing.affiliates">
              <i class="fa fa-reply"></i>
            </a>
<!-- Save Button -->
            <button type="button" class="btn btn-sm btn-primary detail-btn pull-right"
              tooltip-placement="top" uib-tooltip="Save" href="#/affiliates" ng-click="affiliateCtrl.addAffiliate()">
              <i class="fa fa-floppy-o"></i>
            </button>
<!-- Start of Tabs-->
					<uib-tabset>
<!-- Start of Profile Tab -->
						<uib-tab>

              <uib-tab-heading>
                <i class="menu-icon fa fa-user-secret"></i> Profile
              </uib-tab-heading><br>

              <form class="form-horizontal" ng-submit="register()">

                              <fieldset>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">First Name</label>
                                  <div ng-if="affiliateCtrl.aid === null" class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_first_name" placeholder="First Name" class="form-control">
                                  </div>
                                  <div ng-if="affiliateCtrl.aid !== null" class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_first_name" ng-change="affiliateCtrl.affiliate.$save()"
                                      placeholder="First Name" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Last Name</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_last_name" placeholder="Last Name" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">E-Mail</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_email" placeholder="E-mail Address" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Phone Number</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_phone" placeholder="Phone Number" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Status</label>
                                  <div class="col-sm-8">
                                    <select ng-model="affiliateCtrl.affiliate.affiliate_status" class="form-control">
                                      <option value= "Enabled">Enabled</option>
                                      <option value= "Disabled">Disabled</option>
                                    </select>
                                  </div>
                                </div>
                              </fieldset>

                              <fieldset>
                                <legend>Address</legend>
                                <div class="form-group">
                                  <label class="col-sm-2 control-label" align="right">Search Address</label>
                                  <div class="col-sm-8">
                                    <ui-select ng-model="address.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false">
                                      <ui-select-match placeholder="Enter an address...">{{$select.selected.formatted_address}}</ui-select-match>
                                      <ui-select-choices repeat="address in (addresses) track by $index" refresh="refreshAddresses($select.search)" refresh-delay="0">
                                        <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                    <br>{{address.selected.formatted_address}}
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Street</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_address_street" placeholder="Street" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">City</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_address_city" placeholder="City" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Country</label>
                                  <div class="col-sm-8">
                                    <ui-select ng-model="country.selected" theme="bootstrap" ng-disabled="disabled">
                                      <ui-select-match placeholder="Search country...">{{$select.selected.name}}</ui-select-match>
                                      <ui-select-choices repeat="country in countries | filter: $select.search">
                                        <span ng-bind-html="country.name | highlight: $select.search"></span>
                                      </ui-select-choices>
                                    </ui-select>
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Postal Code / Zip</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_address_postal_code" placeholder="Postal Code" class="form-control">
                                  </div>
                                </div>
                                <div class="form-group required">
                                  <label class="col-sm-2 control-label" align="right">Region</label>
                                  <div class="col-sm-8">
                                    <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_address_region" placeholder="Region" class="form-control">
                                  </div>
                                </div>
                              </fieldset>

                            </form>

            </uib-tab>
<!-- Start of Payment Details Tab -->
          <uib-tab>

            <uib-tab-heading>
              <i class="menu-icon fa fa-trophy"></i> Payment Details
            </uib-tab-heading><br>

              <form class="form-horizontal" ng-submit="register()">

                <fieldset>

                  <div class="form-group required">
                    <label class="col-sm-2 control-label" align="right">Commission (%)</label>
                    <div class="col-sm-8">
                      <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_commission" placeholder="Commission" class="form-control">
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" align="right">Tax ID</label>
                    <div class="col-sm-8">
                      <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_taxid" placeholder="Tax ID" class="form-control">
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" align="right">Cheque Payee Name</label>
                    <div class="col-sm-8">
                      <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_cheque_name" placeholder="Cheque Payee Name" class="form-control">
                    </div>
                  </div>

                </fieldset>

              </form>

          </uib-tab>
  <!-- Start of Transactions -->
          <uib-tab>
          <uib-tab-heading>
            <i class="menu-icon fa fa-indent"></i> Transactions
          </uib-tab-heading><br>

              <form class="form-horizontal" ng-submit="addTransaction()">

                <fieldset>
                  <div class="form-group">
          <!-- Transaction Description Box -->
                      <div class="col-xs-5">
                        <label class="control-label">Description</label>
                        <input type="text" ng-model="affiliateCtrl.transaction.transaction_description" placeholder="Transaction Description" class="form-control">
                      </div>
          <!-- Transaction Amount Box -->
                      <div class="col-xs-3">
                        <label class="control-label">Amount</label>
                        <input type="text" ng-model="affiliateCtrl.transaction.transaction_amount" placeholder=" Transaction Amount" class="form-control">
                      </div>
                      <div class="col-xs-1 inline-btn">
                        <button type="button" class="btn btn-sm btn-primary" uib-tooltip-placement="top" uib-tooltip="Add Coupon"
                          ng-click="affiliateCtrl.addTransaction()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                </div>
                <div class="row">
                  <div ui-grid="affiliateCtrl.gridTransactions" class="grid-500"></div>
                </div>
              </fieldset>

            </form>

        </uib-tab>
<!-- Start of Security Tab -->
        <uib-tab>
        <uib-tab-heading>
          <i class="menu-icon fa fa-key"></i> Security
        </uib-tab-heading><br>

          <form class="form-horizontal" ng-submit="register()">

            <fieldset>
              <div class="form-group required">
                <label class="col-sm-2 control-label" align="right">E-Mail</label>
                <div class="col-sm-8">
                  <input type="text" ng-model="affiliateCtrl.affiliate.affiliate_email" placeholder="E-mail Address" class="form-control">
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-8">
                  <input type="password" name="password" ng-model="affiliateCtrl.affiliate.affiliate_password" placeholder="Password" class="form-control" ng-minlength="6" required>
                  <div ng-messages="registrationForm.password.$error" ng-if="registrationForm.password.$touched">
                    <div ng-messages-include="catalog/common/registration.messages.html"></div>
                  </div>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-8">
                  <input type="password" name="confirmPassword" ng-model="affiliateCtrl.confirm_password" placeholder="Password" class="form-control" required>
                  <div ng-messages="registrationForm.confirmPassword.$error" ng-if="registrationForm.confirmPassword.$touched">
                    <div ng-messages-include="catalog/common/registration.messages.html"></div>
                  </div>
                </div>
              </div>

            </fieldset>

          </form>

      </uib-tab>
<!-- End of Tabs -->
					</uib-tabset>
	      </div>
	    </div>
	  </div>
	</div>
</div>
</div>
