<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="breadcrumb">
        <li><a href="#" ui-sref="catalog.home"><i class="menu-icon fa fa-home"></i></a></li>
        <li><a href="" ng-click="catalogProductCtrl.goCategory(catalogProductCtrl.product.product_category_id)">{{catalogProductCtrl.product.product_category}}</a></li>
        <li><a href="product" ui-sref="catalog.product">{{catalogProductCtrl.product.product_name}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div align="center"><img ng-src="{{catalogProductCtrl.product.product_image}}" height="210" width="225"></div>
        </div>
      </div>
      <ul class="thumbnails">
        <li ng-repeat="t in catalogProductCtrl.thumbnails" class="image-additional">
          <img ng-src="{{t.thumbnail_image}}" height="65" width="70"></a></li>
      </ul><br>
      <uib-tabset>
        <uib-tab heading="Description">
          <p ng-bind-html="catalogProductCtrl.product.product_description"></p>
        </uib-tab>
        <uib-tab heading="Specification">
          <p ng-bind-html="catalogProductCtrl.product.product_description"></p>
        </uib-tab>
        <uib-tab heading="Reviews ({{catalogProductCtrl.reviewCount}})">
          <div ng-if="catalogProductCtrl.reviewCount === 0">
            <h3 class="text-center">There are currently no reviews for this product.<h3>
          </div>
          <div ng-if="catalogProductCtrl.reviewCount &gt 0">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="text-center">Rating</td>
                  <td class="text-center">Name</td>
                  <td class="text-center">Comment</td>
                  <td class="text-center">Date</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="r in catalogProductCtrl.reviews | orderBy:'create_date':true">
                  <td width="125px" class="text-center">
                    <div>
                      <uib-rating ng-model="r.stars" max="catalogProductCtrl.maxStars" readonly>
                      </uib-rating>
                    </div>
                  </td>
                  <td width="100px" class="text-left">
                    {{r.name}}
                    <br>
                  </td>
                  <td class="text-left">
                    {{r.comment}}
                  </td>
                  <td width="100px" class="text-center">
                    {{r.create_date | date}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="col-sm-4">
      <h1>{{catalogProductCtrl.product.product_name}}</h1>
      <ul class="list-unstyled">
        <li>Reward Points: 100</li>
      </ul>
      <span ng-if="catalogProductCtrl.product.special_price != null">
        <ul class="list-unstyled">
          <li><s>{{catalogProductCtrl.product.product_price | currency}}</s></li>
        </ul>
        <h2>{{catalogProductCtrl.product.special_price | currency}}</h2>
      </span>
      <span ng-if="catalogProductCtrl.product.special_price == null"><p>
        <h2>{{catalogProductCtrl.product.product_price | currency}}</h2>
      </span>
      <ul class="list-unstyled">
        <li>Price in Reward Points: 1000</li>
      </ul>
      <div class="form-group">
        <button type="button" ng-click="catalogProductCtrl.addOrder(catalogProductCtrl.product.$id)" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
      </div>
    </div>

    <div class="container">
      <form name="reviewForm" class="form-horizontal" ng-submit="catalogProductCtrl.submitReview()">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Your Review</h3
            </div><br>
            <fieldset>
              <div class="form-group required">
                <label class="col-sm-4 control-label">Your Rating</label>
                <div class="col-sm-7">
                  <uib-rating class="rating" ng-model="catalogProductCtrl.review.stars" max="catalogProductCtrl.maxStars" titles="['one','two','three']"
                    state-on="'fa fa-star'" state-off="'fa fa-star-o'" aria-labelledby="default-rating"></uib-rating>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-4 control-label">Your Name</label>
                <div class="col-sm-7">
                  <input type="text" name="firstName" ng-model="catalogProductCtrl.review.name" placeholder="Enter Your Name" class="form-control" required>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-4 control-label">Your Review</label>
                <div class="col-sm-7">
                  <textarea rows="2" data-min-rows="2" name="review" ng-model="catalogProductCtrl.review.comment" placeholder="Leave a Review" class="form-control autoExpand" required>
                  </textarea>
                </div>
              </div>
              <div class="col-sm-12 text-center">
                <input type="submit" value="Submit Review" class="btn btn-primary">
              </div><br><br>
            </fieldset>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
