<nav class="navbar navbar-default">
	<div class="container-fluid">
	  <div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
	    	<span class="icon-bar"></span>
	      <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		</div>
		<div class="collapse navbar-collapse">
		  <ul class="nav navbar-nav">
		    <li><a href="#/modules" ui-sref="admin.extensions.modules"><span class="menu-icon fa fa-cubes"></span> Modules</a></li>
		    <li><a href="#/shipping" ui-sref="admin.extensions.shipping"><span class="menu-icon fa fa-truck"></span> Shipping</a></li>
				<li><a href="#/payment" ui-sref="admin.extensions.payment"><span class="menu-icon fa fa-usd"></span> Payment</a></li>
				<li><a href="#/feeds" ui-sref="admin.extensions.feeds"><span class="menu-icon fa fa-rss"></span> Feeds</a></li>
		  </ul>
		</div>
	</div>
</nav>
<div ui-view="list">
</div>
