<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="breadcrumb">
        <li><a href="#" ui-sref="catalog.home"><i class="menu-icon fa fa-home"></i></a></li>
        <li><a href="#/login" ui-sref="catalog.contact">Help and Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <h3>Our Location</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12 col-md-offset-2">
            <div class="col-sm-3">
              <h4>Mailing Address</h4>
                <address>
                  {{contactCtrl.store.store_name}}<br>
                  {{contactCtrl.store.store_address_street}}<br>
                  {{contactCtrl.store.store_address_city}}, {{contactCtrl.store.store_address_region}}<br>
                  {{contactCtrl.store.store_address_postal_code}} {{contactCtrl.store.store_address_country}}
                </address>
            </div>
            <div class="col-sm-3">
              <h4>E-Mail</h4>
                <a href=mailto:info@bluerockapps.com>info@bluerockapps.com</a><br>
                <a href=mailto:info@bluerockapps.com>support@bluerockapps.com</a>
            </div>
            <div class="col-sm-3">
              <h4>Telephone</h4>
              <p>{{contactCtrl.store.store_phone}}</p>
            </div>

          </div>
        </div>
      </div>
      <form name="contactForm" class="form-horizontal">
        <fieldset>
          <legend><h3>Contact Form</h3></legend>
            <div class="form-group required">
              <div class="col-sm-6 col-centered">
                <input type="text" name="Name" ng-model="contactCtrl.contact.contact_name" placeholder="Enter Your Name" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-6 col-centered">
                <input type="text" name="Email" ng-model="contactCtrl.contact.contact_email" placeholder="Enter Your E-Mail Address" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-6 col-centered">
                <input type="text" name="Phone" ng-model="contactCtrl.contact.contact_phone" placeholder="Enter Your Phone Number" class="form-control">
              </div>
            </div>
            <div class="form-group required">
              <div class="col-sm-6 col-centered">
                <textarea rows="3" data-min-rows="3" name="Comment" ng-model="contactCtrl.contact.contact_comment" placeholder="Enter Your Comment" class="form-control autoExpand">
                </textarea>
              </div>
            </div>
<!-- Form doesn't work yet -->
          <div class="form-actions">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-sm btn-primary">SUBMIT</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
