<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/login" ui-sref="catalog.login">Register or Login</a></li>
        <li><a href="#">Help and Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-user"></i>My Account</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i> Shopping Cart</a></li>
        <li><a href="#"><i class="fa fa-mail-forward"></i> Checkout</a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div id="logo">
          <a href="#" ui-sref="catalog.home"><img src="../images/bluerocktxtlogo185.png" class="img-responsive"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <ui-select ng-model="product.selected" theme="bootstrap" ng-disabled="disabled">
            <ui-select-match placeholder="Search products...">{{$select.selected.product_name}}</ui-select-match>
            <ui-select-choices repeat="product in products | filter: $select.search">
              <span ng-bind-html="product.product_name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
          <div class="input-group-btn">
            <button ng-click="catalogCtrl.findProduct()" type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div ng-if="catalogCtrl.cartTotals.items == 0" id="cart" class="btn-group btn-block">
          <button type="button" data-toggle="dropdown" class="btn btn-inverse btn-block btn dropdown-toggle">
            <i class="fa fa-shopping-cart"></i> {{catalogCtrl.cartTotals.items}} Item(s) - {{catalogCtrl.cartTotals.total | currency}}
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <p class="text-center">Your shopping cart is empty</p>
            </li>
          </ul>
        </div>
        <div ng-if="catalogCtrl.cartTotals.items > 0" id="cart" class="btn-group btn-block">
          <button type="button" ng-click="catalogCtrl.getOrder()" data-toggle="dropdown" class="btn btn-inverse btn-block btn-lg dropdown-toggle">
            <i class="fa fa-shopping-cart"></i> {{catalogCtrl.cartTotals.items}} Item(s) - {{catalogCtrl.cartTotals.total | currency}}
          </button>
          <ul  class="dropdown-menu pull-right">
            <li>
              <table class="table table-striped">
                <tr ng-repeat="o in catalogCtrl.order">
                  <td>
                    <a href="" ng-click="catalogCtrl.goProduct(o.product_id)"><img ng-src="{{o.product_image}}" width="35px" height="35px"></a>
                  </td>
                  <td class="text-left"><a href="" ng-click="catalogCtrl.goProduct(o.product_id)">{{o.product_name}}</a>
                  <td class="text-right">{{o.product_quantity}}</td>
                  <td ng-if="o.product_special_price" class="text-right">
                    {{o.product_special_price | currency}} &nbsp;&nbsp;<s>{{o.product_regular_price | currency}}</s>
                  </td>
                  <td ng-if="o.product_special_price == null" class="text-right">
                    {{o.product_regular_price | currency}}
                  </td>
                  <td class="text-center"><button type="button" ng-click="catalogCtrl.removeProduct(o.product_id)" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
                </tr>
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tr>
                    <td class="text-right"><strong>Total</strong></td>
                    <td class="text-right">{{catalogCtrl.cartTotals.total | currency}}</td>
                  </tr>
                </table>
                <p class="text-right"><a href="<?php echo $cart; ?>"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a>&nbsp;&nbsp;&nbsp;<a href="<?php echo $checkout; ?>"><strong><i class="fa fa-share"></i> checkout</strong></a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<br>

<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">Categories</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul ng-repeat="c in catalogCtrl.categories" class="nav navbar-nav">
        <li ng-if="c.sub_count === 0"><a href="" class="dropdown-toggle" data-toggle="dropdown">{{c.category_name}}</a>
        <li ng-if="c.sub_count > 0" class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">{{c.category_name}}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">
              <ul ng-repeat="s in catalogCtrl.subCategories | orderBy:'$priority'" class="list-unstyled">
                <li ng-if="c.$id === s.category_id"><a href="" ng-click="catalogCtrl.goSubCategory(s.$id)">{{s.category_name}}</a></li>
              </ul>
            </div>
            <a href="" ng-click="catalogCtrl.goCategory(c.$id)" class="see-all">see all</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
